@import 'fonts/fonts';
@import 'mixins';

html {
    font-size: 20px;
}

body {
    font-family: 'DM Sans';
}

.container-fluid {
    padding: 0 $section-spacing;
}

.button-white {
    background: #fff;
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: .75rem 2rem;
    border: none;
    transition: $basic-transition;
    margin-right: .75rem;
    &:hover {
        background: #000;
        color: #fff;
        text-decoration: none;
    }
}

[data-aos="custom-fade"] {
    opacity: 0;
    transition: $basic-transition;
    margin-left: -200px;
    &.aos-animate {
        opacity: 1;
        margin-left: 0;
    }
}

.container-smaller, .column-padding {
    padding: 0 0.5 * $section-spacing;
}

.slick-list * {
    outline: none !important;
}

.bg-black {
    background: #000;
}

.bg-gray {
    background: rgba(#7B7B7B, .04);
}

.hero-mb {
    margin-bottom: 1em;
}

.paragraph {
    font-size: 1.2rem;
    opacity: .6;
    font-weight: 600;
}

.object-cover {
    object-fit: cover;
}

.img-background {
    top: 0;
    left: 0;
    z-index: -2;
}

.hero-text-smaller {
    font-size: 2.5rem !important;
    letter-spacing: -0.02em;
    font-weight: 600;
}

.dark-overlay {
    position: relative;
    &::after {
        @include overlay;
        background: rgba(#000, .4);
    }
}

.check-icon {
    position: relative;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    .check {
        position: absolute;
        width: 1rem;
        height: 1rem;
    }
}

.paragraph-bigger {
    font-size: 1.2rem;
}

.hero-text {
    font-size: 3rem;
    font-weight: 600;
}

.p-20vh {
    padding-top: 20vh !important;
    padding-bottom: 20vh !important;
}

.mw-50 {
    max-width: 50%;
}

.square-icon {
    @include square-icon;
}

.section-padding-right {
    padding-right: $section-spacing !important;
}

.section-padding-left {
    padding-left: $section-spacing;
}

.section-padding-both {
    padding-left: $section-spacing !important;
    padding-right: $section-spacing !important;
}

.desc-col {
    padding-left: 130px !important;
}

.mapouter{
    position:relative;
    text-align:right;
    height:600px;
    width:100%;
}
#gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:600px;
    width:100%;
}

.button-outlined {
    position: relative;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    border: 1px solid #000;
    color: #000;
    background: transparent;
    transition: $basic-transition;
    margin-top: 2rem;
    &::after {
        @include overlay;
        background: #000;
        top: unset;
        bottom: 100%;
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        &::after {
            bottom: 0;
        }
    }
}

.image-grid {
    $big-size: 364px;
    $small-size: 280px;
    float: left;
    display: grid;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: 368px 368px;
    > .grid-el {
        position: relative;
        transition: $basic-transition;
        &:hover {
            transform: scale(1.04);
        }
    }
    img {
        position: absolute;
        bottom: 0;
    }
    .grid-el-1 {
        grid-row: 1 / span 2;
        transform-origin: bottom right;
    }
    .grid-el-4 {
        transform-origin: top left;
        grid-row: 2 / span 2;
        img {
            bottom: unset;
            top: 0;
        }
    }
    .grid-el-1, & .grid-el-4 {
        img {
            width: $big-size;
            height: $big-size;
        }
    }
    .grid-el-2 {
        transform-origin: left bottom;
    }
    .grid-el-2, & .grid-el-3 {
        img {
            width: $small-size;
            height: $small-size;
        }
    }
    .grid-el-3 {
        transform-origin: top right;
        img {
            top: 0;
        }
    }
    .grid-el-1, & .grid-el-3 {
        img {
            right: 0;
        }
    }
}

.shadowed-right {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);     
    }
}

nav {
    $brand-width: 162px;
    padding: 0 $wrapper-padding;
    width: 100%;
    max-width: 100vw;
    padding-top: 64px;
    top: 0;
    left: 0;
    transition: $basic-transition;
    transition: padding 0.05s linear;
    position: absolute;
    z-index: 10000;
    align-items: center;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);	&:after {
		background: rgba(#000, 1);
		transition-delay: 0s;
	}
	&:before {
		transition-delay: .1s;
    }
    &.active.navbar-fixed {
        padding-top: 0;
    }
    a {
        color: #ffff;
        font-size: 1rem;
        transition: $basic-transition;
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    .dropdown {
        &:hover {
            .dropdown-container {
                height: auto;
                max-height: 500px;
            }
        }
    }
    .dropdown-toggler {
        color: #fff;
        cursor: pointer;
        transition: $basic-transition;
    }
    .dropdown-container {
        position: absolute;
        overflow: hidden;
        height: 0;
        transition: $basic-transition;
        max-height: 0;
        transition-duration: 1.5s;
    }
    .dropdown-content {
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        background-color: rgba(#000, .5);
        min-width: 160px;
        padding: 1rem;
        overflow: hidden;
        z-index: 1;
        transition: $basic-transition;
        a {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .navbar-brand {
        margin-left: $wrapper-padding;
        width: $brand-width;
        transition: $basic-transition;
        z-index: 10;
        padding: 0;
        img {
            transition: $basic-transition;
            height: auto;
            width: 100%;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    .navbar-toggler {
        width: 48px;
        height: 48px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        display: none;
        transition: all .2s ease-in-out;
        transform: scale(1.1);
        padding: 0;
        &:focus {
            outline: none;
        }
        &:hover {
            transform: scale(1.04);
            svg {
                path {
                    transition: all .2s;
                    stroke: #c2c2c2;
                    stroke-linecap: square;
                }
            }
        }
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #fff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            top: 0px;
          }
          
        span:nth-child(2), & span:nth-child(3) {
            top: 18px;
          }
          
        span:nth-child(4) {
            top: 36px;
          }
        &.active span {
            background: #000;
        }
        &.active span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
          
        &.active span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          
          &.active span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          
          &.active span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
          
    }
    .collapsible {
        display: flex;
        flex: 1;
        position: relative;
        margin-left: -$brand-width;
    }
    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        z-index: 1;
        li {
            float: left;
            margin: .5em 1.5em;
            a:not(.button-link) {
                position: relative;
                &::after {
                    @include underline();
                    width: 0;
                    background: #fff;
                    transition: $basic-transition;
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    .button-link-container {
        align-self: center;
        position: absolute;
        right: $wrapper-padding;
        button {
            position: relative;
            overflow: hidden;
            padding: .8em;
            width: 210px;
            background: transparent;
            border: 1px solid #fff;
            transition: border 0.5s ease-out;
            transition-delay: .1s;
            &::before {
                @include overlay;
                top: 100%;
                background: #000;
            }
            &:hover {
                border: 1px solid #000;
                a {
                    color: #fff;
                }
                &::before {
                    top: 0;
                }
            }
        }
    }
    .button-link {
        z-index: 2; 
        &:hover {
            color: #fff;
        }
    }
}

.navbar-fixed {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background: #0a0a0a;
    font-size: .9em;
    padding: 28px 0;
    width:  100vw;
    animation: nav-enter .5s 1 ease-in-out forwards;
    justify-content: space-between;
    .navbar-toggler {
        margin-left: auto;
    }
    .navbar-brand {
        top: 75%;
        position: absolute;
        display: flex;
        align-items: center;
    }
    .collapsible {
        width: auto;
        flex: 1;
        flex-grow: 4;
    }
}

.nav-transitioning {
    animation: nav-left .2s 1 ease-in-out forwards;
}

section.hero-section {
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    color: #fff;
    .text-small {
        text-transform: uppercase;
        opacity: .6;
        font-size: .8rem;
    }
    .header-text-big {
        font-size: 1.2rem;
    }
    &.part-screen {
        height: 85vh;
    }
    .hero-header {
        font-size: 4rem;
        margin-bottom: .5em;
    }
    p {
        margin-bottom: 5rem;
        &.short {
            max-width: 80%;
        }
    }
    
    .text {
        margin-left: $section-spacing;
        padding-top: 4rem;
        max-width: 75%;
    }
    .row {
        height: 100%;
        margin: 0;
        > div {
            margin: 0;
            padding: 0;
        }
    }
    .background {
        z-index: -2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.second-hero-image {
    margin-left: 4px;
}

section.text-section {
    padding: $section-spacing 0;
    p {
        opacity: .6;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

section.panels {
    overflow-x: hidden;
    margin-bottom: 10%;
    .row {
        > div {
            padding: 0;
        }
    }
    .panel {
        height: 60vh;
        position: relative;
        color: #fff;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 1.7rem;
        letter-spacing: -0.02em;
        line-height: 2rem;
        text-align: center;
        margin: 0 1.5px;
        overflow: hidden;
        img {
            transition: $basic-transition;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 60%;
            bottom: 0;
            left: 0;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
        }
        &:hover {
            text-decoration: none;
            cursor: pointer;
            img {
                transform: scale(1.1);
            }
        }
    }
    .panel-img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .panel-text {
        position: relative;
        z-index: 1;
        margin-bottom: 2rem;
    }
}

section.product-hero {
    .header-text-big {
        max-width: 85%;
    }
}


section.testimonials {
    $m-bottom: 4rem;
    min-height: 75vh;
    margin: 3rem 0;
    color: #fff;
    .background {
        object-fit: cover;
        z-index: -2;
        left: 0;
        top: 0;
    }
    &::after {
        @include overlay;
        background: rgba(#000, .6);
    }
    .row {
        > div {
            padding: 0;
        }
    }

    .slick-dots {
        text-align: left;
        bottom: 0;
        margin-bottom: $m-bottom;
        > * {
            width: .5rem;
            height: .5rem;
            display: inline-block;
            background: #fff;
            opacity: .4;
            border-radius: 50%;
            margin-right: 2rem;
            &.slick-active {
                opacity: 1;
            }
        }
    }
    .slick-list, & .slick-track {
        position: static;
    }
    .slick-list {
        transform: unset !important;
    }

    .slick-slide {
        margin: 0;
        display: flex;
    }
    .arrows {
        width: 5rem;
        margin-bottom: $m-bottom;
        .arrow {
            transform: rotate(-90deg);
            transform-origin: center;
            &.disabled {
                opacity: .4;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

section.partners {
    .hero-text {
        margin-bottom: 1.5em;
    }
    .logos-container {
        flex-wrap: wrap;
        .slick-track {
            display: flex;
            align-items: center;
        } 
    }
    .img-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
            margin: 0 1rem;
            opacity: .4;
            filter: grayscale(1);
            width: 160px;
            height: auto;
            transition: $basic-transition
        }
        &:hover {
            img {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}

section.contact {
    $padding: 5rem;
    overflow-x: hidden;
   
    .container-fluid {
        margin: 7% 0;
    }
    .form {
        > div {
            padding-left: 0;
        }
    }
    .contact-info-container {
        padding-bottom: $padding;
    }
    
    ul {
        &.social-media {
            margin-top: 4rem;
            margin-bottom: 0;
            li:nth-of-type(2) {
                .square-icon {
                    border-left: none;
                    border-right: none;

                }
            }
            a {
                margin-bottom: 0;
            }

        }
        &.contact-data {
            margin-top: 1rem;
        }
    }
}

.contact-form {
    $padding: 5rem;
    padding: $padding;
    background: rgba(#7B7B7B, .04);
    input, & textarea {
        border: none;
        border-bottom: 1px solid rgba(#000, .2);
        background: transparent;
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        &:focus {
            outline: none;
        }
    }
    textarea {
        resize: none;
    }
}

footer {
    padding: $section-spacing;
    background: #000;
    a {
        color: #fff;
        transition: $basic-transition;
        &:hover {
            text-decoration: none;
            color: #a0a0a0;
        }
    }

    .multiple-columns {
        display: flex;
        flex-wrap: wrap;
        .title {
            flex-basis: 100%;
        }
        .column {
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .column {
        margin-right: 10rem;
        .link:nth-child(1) {
            margin-top: 0;
        }
    }
    .link {
        margin-top: 1rem;
        transition: $basic-transition;
    }
    .title {
        font-size: .8rem;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        color: #fff;
        opacity: .6;
    }
    .logo-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: .8rem;
        .logo {
            width: 150px;
            height: auto;
        }
        .link {
            margin-top: 2.5rem;
            opacity: 0.6;
            &:last-of-type {
                margin-left: 2rem;
            }
            &:hover {
                opacity: 1;
                a {
                    color: #fff;
                }
            }
        }
    }
}

section.partners-list {
    margin-top: 5rem;
    .single-partner {
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 540px;
        border: 1px solid rgba(#000, .2);
        img {
            width: 160px;
            filter: brightness(0);
            transition: $basic-transition;
        }
        &:hover {
            .partner-desc {
                font-size: 1rem;
                opacity: 1;
            }
            img {
                filter: brightness(1);
            }
        }
        &:nth-of-type(2) {
            border-left: none;
            border-right: none;
        }
    }
    .partner-desc {
        max-width: 80%;
        text-align: center;
        margin-top: 2rem;
        font-size: 1px;
        opacity: 0;
        overflow: hidden;
        transition: $basic-transition;
    }
    .row {
        > div {
            margin: 1rem 0;        
        }
    }
    .single-photo {
        position: relative;
        height: 400px;
        display: flex;
        justify-content: center;
        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

section.contact-subpage {
    padding-top: 4rem;
    overflow-x: hidden;
    .row {
        margin: 0;
    }
    .form {
        > div {
            padding: 0;
        }
    }
    .contact-info {
        padding-left: 5rem;
    }
    
    .single-contact {
        margin-bottom: 2rem;
        .icon {
            min-width: 60px;
            min-height: 60px;
        }
    }
    .contact-data {
        font-size: 1.25rem;
        margin-left: 2rem;
        .name {
            font-size: .8rem;
            opacity: .6;
            letter-spacing: .15em;
        }
    }
    .laptop-col {
        p {
            margin: 5rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

section.description {
    .row {
        margin: 0;
        > div {
            padding: 0;
        }
    }
    .details-container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-top: 9rem;
    }
    .second-col {
        padding-left: 3rem !important;
    }
    
    .first-col {
        padding-right: 3rem !important;
    }
}

section.features {
    padding: 4rem 0;
    overflow-x: hidden;
}

section.product-benefits {
    $padding: 8rem;
    margin-top: 7rem;
    .container-fluid {
        padding-top: $padding;
        padding-bottom: $padding;
    }
}

section.products-slider-section {
    margin: 4rem 0;
    overflow-x: hidden;
    .slick-slide:not(.slick-active) {
        opacity: .5;
    }    
    .container-fluid {
        padding-right: 0;
    }
    .arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.3 * $section-spacing;
        z-index: 10;
        .prev {
            svg {
                transform: rotate(180deg);
                path {
                    stroke: #000;
                }
            }
        }
        .next, & .prev {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 56px;
            width: 56px;
            margin-bottom: 1rem;
            transition: $basic-transition;
            overflow: hidden;
            position: relative;
            z-index: 1;
            background: #fff;
            &::after {
                @include overlay;
                background: #000;
                top: 100%;
                left: 0;
            }
            &:hover {
                cursor: pointer;
                svg {
                    path {
                        z-index: 1;
                        stroke: #fff;
                    }
                }
                &::after {
                    top: 0;
                }
            }
            svg {
                z-index: 1;
                position: absolute;
                path {
                    transition: $basic-transition;
                }
            }
        }
    }
    .products-slider {
        .slick-list {
            padding: 0 $section-spacing 0 0;
        }
    }
    .single-product {
        height: 530px;
        position: relative;
        color: #fff;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0 .15rem;
        overflow: hidden;
        img {
            transition: $basic-transition;
            z-index: 0;
        }
        .product-text {
            font-size: 1.7rem;
            letter-spacing: -.02em;
            margin-bottom: 1.25em;
            text-transform: capitalize;
            position: relative;
            z-index: 2;
            text-align: center;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
        }
        &:hover {
            text-decoration: none;
            img {
                transform: scale(1.1);
            }
        }
    }
}

section.cta {
    padding: 6rem 0;
}


@include media-query($max, 1650px) {
    html {
        font-size: 19px;
    }
    .section-padding-right {
        padding-right: 0.75 * $section-spacing !important;
    }
    .image-grid {
        transform: scale(.85) translateX(-15%);
    }
}
@include media-query($max, $desktop) {
    html {
        font-size: 18px;
    }

    .image-grid {
        transform: scale(.7) translateX(-30%);
    }
    nav {
        .button-link-container {
            right: 40px;
        }
    }
    .container-fluid {
        padding: 0 0.9 * $section-spacing;
    }

    section.hero-section {
        .text {
            min-width: 100%;
            margin-left: 0.5 * $section-spacing;
            padding-right: .5rem;
        }
        p {
            margin-bottom: 3.5rem;
        }
    }

    section.panels {
        .panel {
            font-size: 1.5rem;
        }
    }
  
    footer {
        padding: 0.9 * $section-spacing;
        .column {
            margin-right: 4.5rem;
        }
    }
    section.contact-subpage {

        .contact-info {
            padding-left: 2rem;
        }
    }

}

@include media-query($max, $laptop) {
    html {
        font-size: 16px;
    }
    .img-grid-col {
        height: 600px;
    }
    .image-grid {
        transform: scale(.58) translateX(-42%);
    }
    .container-fluid {
        padding: 0 0.75 * $section-spacing;
    }
    .section-padding-right {
        padding-right: 0.65 * $section-spacing !important;
    }

    .container-smaller, .column-padding {
        padding: 0 0.375 * $section-spacing;
    }
    
    .desc-col {
        padding-left: 100px !important;
    }
    
    .mapouter{
        height:500px;
    }
    #gmap_canvas {
        height:500px;
    }
    nav {
        flex-direction: row;
        padding-right: 0;
        ul {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto !important;
            li {
                margin: .5em .75em;
            }
        }
        &.nav {
            .navbar-brand {
                left: 40px;
                height: 50%;
            }
            ul {
                li {
                    margin: 0 1.5rem;
                }
            }
            .button-link-container {
                button {
                    width: 180px;
                }
            }
        }
    }
    .navbar-fixed {
        .navbar-brand {
            left: 40px;
        }
        .collapsible {
            flex-grow: 6;
        }
    }

    section.text-section {
        padding: 0.75 * $section-spacing 0;
    }
    section.product-text-section {
        padding: 0.75 * $section-spacing 0 0 0;
    }
    section.partners-list {
        .single-partner {
            height: 490px;
        }
    }
    footer {
        padding: 0.75 * $section-spacing;
        .column {
            margin-right: 4rem;
        }
    }
}

@include media-query($max, 1040px) {
    footer {
        .multiple-columns {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .column {
            margin-right: 5rem;
        }
    }
    
}

@include media-query($max, $notebook) {
    .mw-50 {
        max-width: 75%;
    }
    .container-fluid, .container-smaller {
        padding: 0 0.5 * $section-spacing;
    }
    .column-padding {
        padding: 0;
    }
    
    .hero-text {
        margin-bottom: .75em;
    }
    .left-image-container {
        height: 400px;
    }
    nav.nav {
        padding: 0 40px;
        padding-top: 40px;
        $width: 100vw;
        $height: 100vh;
        $transition-length: .8;
        $menu-items-count: 7;
        right: 0;
        top: 0;
        left: 0;
        z-index: 1000;
        width: $width;
        position: absolute;
        justify-content: space-between;
        .navbar-brand {
            margin-left: 0;
            left: 60px;
        }
        &.navbar-fixed {
            padding-top: 8px;
            padding-bottom: 8px;
            .navbar-brand {
                margin-left: 24px;
                left: 0;
            }
        }
        .dropdown-toggler {
            color: #000;
            padding: 10px 5px;
        }
        .dropdown {
            &:hover {
                .dropdown-container.active {
                    height: auto;
                    max-height: 500px;
                }
            }
        }
        .dropdown-container {
            position: relative;
            &.active {
                height: auto;
                max-height: 500px;
            }
        }
        .dropdown-content {
            position: relative;
            background: none;
            align-items: flex-start;
            margin-left: 10px;
            margin-top: 10px;
            padding: 0 10px;
        }
        .collapsible {
            margin-top: 0;
            padding: 60px;
            width: 50vw;
            max-width: 300px;
            margin-left: unset;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            background: #fff;
            pointer-events: auto;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            transform: translateX(100%);
            transition: transform .3s;
            will-change: transform;
            contain: paint;
        }
        .navbar-toggler {
            position: relative;
            display: inline;
            z-index: 100;
        }
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                margin: 1rem 0;
                a {
                    color: #000;
                    padding: 10px 5px;
                    display: block;
                    transition: color .1s;
                    &::after {
                        @include underline;
                        background: #000;
                        width: 0;
                        left: 0;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }   
            }
            .button-link-container {
                position: relative;
                right: unset;
                align-self: flex-start;
                button {
                    padding: 0;
                    overflow: visible;
                    width: auto;
                    &::before {
                        display: none;
                    }
                    &:hover {
                        border: none;
                    }
                }
                .button-link {
                    position: relative;
                    &::after {
                        content: '';
                        transition: $basic-transition;
                        width: 0;
                        top: unset;
                        right: unset;
                        margin: unset;
                        height: 3px;
                        bottom: -4px;
                        border-radius: 0;
                        background: #000;
                    }
                    &:hover {
                        color: #000;
                        &::after {
                            width: 100%;
                            box-shadow: none;
                            transition-delay: 0;    
                        }
                    }    
                }
            }
        }
        &.active {
            position: fixed;
            .navbar-toggler svg .line {
                stroke: #000;
            }
            &.navbar-fixed {
                padding-left: 0;
            }
            .collapsible {
                transform: none;
            }
           
        }
    }
    .img-grid-col {
        height: 550px;
    }
    .image-grid {
        transform: scale(.75) translateY(-25%);
    }

    section.hero-section {
        .text {
            max-width: 100%;
            margin: 0 0.5 * $section-spacing;
        }
        &.shadowed-right {
            &::after {
                background: rgba(#000, .4);
            }
        }
        p {
            margin-bottom: 3.5rem;
        }
    }
    section.text-section {
        padding: 0.6 * $section-spacing 0;
    }
    section.testimonials {
        .logo-col {
            margin-bottom: 2rem;
        }
    }
    section.partners {
        .img-container {
            img {
                margin: 1rem 2rem;
            }
        }
    }
    section.contact {
        .contact-info-container {
            margin-top: 2rem;
            padding-bottom: 1rem;
            order: 2;
        }
        ul.social-media {
            margin-top: 2rem;
        }
    }
    footer {
        padding: 0.5 * $section-spacing; 
    }
    section.description {
        .hero-text-smaller {
            margin-top: 1em;
        }
        .p-20vh {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .details-container {
            margin-top: 2rem;
        }
        div.image {
            display: flex;
            img {
                width: 75% !important;
                margin: 0 auto;
            }
        }
    }
}

@include media-query($max, $tablet) {
    
    .container-fluid, .container-smaller {
        padding: 0 0.35 * $section-spacing;
    }
    html {
        font-size: 15px;
    }
    .header-text-big {
        max-width: 80%;
    }
    .desc-col {
        padding-left: 0.25 * $section-spacing !important;
        padding-right: 0.25 * $section-spacing !important;
    }
    .img-grid-col {
        height: 580px;
    }
    .image-grid {
        transform: scale(.7) translateY(-30%);
    }

    section.hero-section {
        .hero-header {
            font-size: 3rem;
        }
    }
    nav.nav.navbar-fixed {
        padding-top: 0;
        padding-bottom: 0;
        .navbar-toggler {
            padding: 0;
        }
    }
    .contact-form {
        padding: 3rem;
    }
    section.contact {
        ul.social-media {
            margin-top: 1rem;
        }
    }
    footer {
        padding: 0.35 * $section-spacing; 
        .column {
            margin-right: 3rem;
        }
        .logo-footer {
            .link {
                text-align: right;
                &:last-of-type {
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }
        }
        .legal {
            display: flex;
            flex-direction: column;
        }
    }
    section.description {
        .first-col {
            padding-right: 0 !important;
            margin-bottom: 1rem;
        }
        div.image {
            margin-top: 1rem;
        }
        .second-col {
            padding-left: 0 !important;
            display: flex;
            flex-direction: column;
            div.image {
                order: 2;
            }
            div.text {
                order: 1;
            }
        }
        
    }

    section.partners-list {
        .single-partner {
            border: 1px solid rgba(0, 0, 0, 0.2) !important;
            height: 380px;
            &:hover, &:active {
                .partner-desc {
                    font-size: 1rem;
                    opacity: 1;
                }
                img {
                    filter: brightness(1);
                }
            }
        }
    }

    section.contact-subpage {
        .map-row {
            padding: 3rem !important;
        }
        .contact-info {
            margin-top: 2rem;
            padding-left: 0;
        }
    }

    section.products-slider-section {
        .products-slider {
            .slick-list {
                padding: 0 0.5 * $section-spacing 0 0;
            }
        }
    }
    
}

@include media-query($max, $phone) {
    .mw-50 {
        max-width: 90%;
    }
    .img-grid-col {
        height: 400px;
    }
    .image-grid {
        transform: scale(.5) translateY(-50%);
    }
    .container-fluid, .container-smaller{
        padding: 0 0.25 * $section-spacing;
    }
 
    .hero-text {
        font-size: 2.25rem;
    }
    .hero-header {
        max-width: 95%;
    }
    section.text-section {
        padding: 0.4 * $section-spacing 0;
    }
    nav.nav {
        .navbar-brand {
            width: 120px;
            left: 0.25 * $section-spacing;
        }
        .collapsible {
            width: 65vw;
        }
    }
    section.hero-section {
        .text {
            margin: 0.25 * $section-spacing;
            padding-right: 0;
        }
        p {
            margin-bottom: 2.5rem;
            max-width: 90%;
        }
        .button-white {
            padding: .75rem 1.5rem;
        }
    }
    section.panels {
        .panel {
            height: 40vh;
            width: 75%;
            margin: .5rem auto;
        }
    }

    section.testimonials {
        .arrows-col {
            order: 1;
        }
        .testmionals-slider {
            order: 2;
        }
        .dots-col {
            order: 3;
        }
        .slick-dots {
            position: relative;
        }
        .arrows {
            margin-top: 1rem;
        }
    }

    footer {
        padding: 0.25 * $section-spacing;
        flex-direction: column;
        .footer-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .link, & .title {
            text-align: center;
        }
        .title {
            margin-bottom: 1.5rem;
        }
        .logo-footer {
            margin-top: 1.5rem;
            align-items: center;
            .logo {
                width: 120px;
            }
            .link {
                margin-top: 0;
            }
        }
        .multiple-columns {
            margin-top: 2rem;
        }
        .column {
            margin-top: 1.25rem;
            margin-right: 0;
        }
        .logo-footer {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    section.contact-subpage {
        .contact-data {
            margin-left: 1rem;
            font-size: 1.1rem;
        }
        .single-contact {
            .icon {
                min-width: 40px;
                min-height: 40px;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .map-row {
            padding: 1rem !important;
        }
    }
    section.partners-list {
        .single-partner {
            max-height: 380px;
            padding: 2rem 0;
        }
    }
    section.products-slider-section {
        .arrows {
            display: none !important;
        }
        .products-slider {
            .slick-list {
                padding: 0 0.25 * $section-spacing 0 0;
            }
        }
    }
}

@include media-query($max, 400px) {
    section.hero-section {
        .text {
            margin: 0.15 * $section-spacing;
        }
    }

    .image-grid {
        transform: scale(.4) translateY(-60%);
    }
    .img-grid-col {
        height: 350px;
    }
    nav.nav {
        .navbar-brand {
            height: 35%;
            left: 0.15 * $section-spacing;
        }
    }
    section.panels {
        .panel {
            width: 90%;
        }
    }
}

@include media-query($max, 360px) {
    nav.nav {
        .navbar-brand {
            left: 15px;
        }
            .collapsible {
                width: 75vw;
            }
    }
    section.hero-section {
        .hero-header {
            font-size: 2.5rem;;
        }
        .text {
            margin: 15px;
        }
        .button-white {
            margin-right: .25rem;
            font-size: 1rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

@keyframes nav-left {
    0% {
        top: 0;
    }
    100% {
        top: -20%
    }
}

@keyframes nav-enter {
    0% {
        top: -20%
    }
    100% {
        top: 0;
    }
}
